@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form>
            <p><h1>This is a paragraph of text for my new controller. I will add</h1></p>
            <p><h2>a form to this controller to fill out the mock up here. I am unsure</h2></p>
            <p><h3>if this counts as the default controller, but I guess I will find out.</h3></p>
            <br />
            <p><b>User Registration:</b></p>
            <br />
            <p>Email:<input id="emailAddress" type="email" /></p>
            <br />
            <p>Password:<input type="password" name="password" /></p>
            <br />
            <p>First Name:<input type="text" name="fname" /></p>
            <br />
            <p>Last Name:<input type="text" name="lname" /></p>
            <br />
            <p>
                Male<input id="checkBox" type="checkbox" />
                Female<input id="checkBox" type="checkbox" />
            </p>
            <br />
            <button type="button">Submit</button>
        </form>
    </div>
</body>
</html>
